p {
background-color: green;
color: purple;
}
h1{
font-size: 3rem;
text-align: center;
}
h2{
text-decoration: underline;
}
header{

}
body{

}
#destinations{
background-color: greenyellow;
}
.section{
color: turquoise;
}