p {
    background-color: green;
    color: purple;
    font-family: serif;
}
h1{
    font-size: 3rem;
    text-align: center;
    font-family: cursive;
}
h2{
    text-decoration: underline;
}
header{

}
body{

}
a{
    font-family: sans-serif;
}
#destinations{
    background-color: greenyellow;
}
.section{
    color: turquoise;
}